In [1]:
# import relevant modules
import pandas as pd

# find csv and read as data frame
file = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file)

# display df for reference
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
# check data cleanliness
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [3]:
# find unique names under SN
# create an array of unique SNs
uniqueSN = purchase_data["SN"].unique()
# find the number of elements within this array
totalUsers = len(uniqueSN)


print("There is a total of " + str(totalUsers) + " players playing the game.")

There is a total of 576 players playing the game.

In [7]:
# complete purchasing analysis calculations
# number of unique items
uniqueItems = purchase_data["Item ID"].unique()
uniqueItemCount = len(uniqueItems)
# average purchase price
averagePurchasePrice = round(purchase_data["Price"].mean(),2)
# total count of purchases
uniquePurchases = purchase_data["Purchase ID"].count()
# total revenue
totalRevenue = purchase_data["Price"].sum()

# display these results
print("There have been a total of " + str(len(uniqueItems)) + " distinct purchases in-game.")
print("In-game transactions are for an average of $" + str(averagePurchasePrice) + " per purchase.")
print("There have been a total of " + str(uniquePurchases) + " purchases within the game.")
print("A total of $" + str(totalRevenue) + " has been spent in-game.")

There have been a total of 179 distinct purchases in-game.
In-game transactions are for an average of $3.05 per purchase.
There have been a total of 780 purchases within the game.
A total of $2379.77 has been spent in-game.